/*  your css code here. If applicable */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  object-fit:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height:250px;
  width:650px;
}

.hero-image {
  width: 50%;
  height: 100%;
  object-fit:cover;
}

.hero-text {
  padding: 40px;
  text-align: center;
}

.explore-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}
